<%= form_with(model: quote, class: 'form') do |f| %>
  <% if quote.errors.any? %>
    <div>
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, class: 'input' %>
  </div>

  <div class="buttons">
    <%= f.submit class: 'button' %>
  </div>
<% end %>
