<div class="card">
  <span>
    <%= link_to quote.name, quote_path(quote), class: 'quote__name' %>
  </span>

  <div>
    <%= link_to 'Delete', quote_path(quote), data: { turbo_method: :delete }, class: 'button' %>
    <%= link_to 'Edit', edit_quote_path(quote), class: 'button' %>
  </div>
</div>
